<header class="bg-white border-bottom fixed-top z-3 border-neutral-300">
    <div class="container-xl px-4 py-3 d-flex align-items-center justify-content-between">
        <!-- Logo -->
        <div class="d-flex align-items-center gap-2">
            <a [routerLink]="['/']" class="text-decoration-none logo-link d-flex align-items-center cursor-pointer">
                <lucide-icon [img]="HomeIcon" [size]="24" class="logo-icon"></lucide-icon>
            </a>
            <span class="small fw-normal" style="color: var(--neutral-500);">kirrer</span>
        </div>

        <!-- Navigation -->
        <nav class="d-flex align-items-center gap-4">
            <a [routerLink]="['/']" fragment="about" class="nav-link-custom pb-1 position-relative"
                [class.active]="activeSection === 'about'">
                About
            </a>
            <a [routerLink]="['/']" fragment="skills" class="nav-link-custom pb-1 position-relative"
                [class.active]="activeSection === 'skills'">
                Skills
            </a>
            <a [routerLink]="['/']" fragment="projects" class="nav-link-custom pb-1 position-relative"
                [class.active]="activeSection === 'projects'">
                Projects
            </a>
        </nav>
    </div>
</header>