<div class="min-vh-100 d-flex flex-column" style="background-color: var(--neutral-100);">
    <app-header></app-header>

    <main class="flex-grow-1 d-flex align-items-center justify-content-center p-4">
        <div class="d-flex flex-column gap-4 w-100 container-xl mt-5" [@staggerAnimation]>
            <app-hero-section [@fadeInUp]></app-hero-section>
            <app-skills-section [@fadeInUp]></app-skills-section>
            <app-project-showcase [@fadeInUp]></app-project-showcase>
        </div>
    </main>

    <app-footer></app-footer>
</div>