.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;

}

.sidebar {
    width: 260px;
    flex-shrink: 0;
    background-color: var(--white);
    padding: 1.5rem;
    border-right: 1px solid var(--neutral-200);
    
    nav ul {
        list-style: none;
        padding: 0;
        margin-top: 2rem;
    }

    li {
        margin-top: 0.5rem;
        padding: 0.75rem 1rem;
        border-radius: 8px;
        color: var(--neutral-600);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            background-color: var(--neutral-100);
            color: var(--primary-700);
        }
    }
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--neutral-100);
}

.top-bar {
    background-color: var(--white);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--neutral-200);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-size: 1.25rem;
        color: var(--neutral-900);
        font-weight: 700;
        margin: 0;
    }
    a {
        padding: 0.75rem 1rem;
        border-radius: 8px;
        color: var(--neutral-600);
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            background-color: var(--neutral-100);
            color: var(--primary-700);
        }
    }
}

.content-area {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: var(--shadow-card);
    text-align: center;
    width: 50%;
    margin: 2rem auto;
}