.footer-link {
    transition: color 0.3s ease;

    &:hover {
        color: var(--primary-800);
        /* #001476 */
    }
}

.social-icon {
    display: block;
    color: var(--primary-500);
    /* #1139FF */
    transition: color 0.3s ease-in;

    ::ng-deep svg {
        fill: var(--white);
        transition: fill 0.3s ease-in;
    }

    &:hover {
        color: var(--primary-500);

        ::ng-deep svg {
            fill: var(--primary-500);
        }
    }
}