.feature-card {
    border-color: var(--neutral-300);
    transition: all 0.3s ease;

    &:hover {
        border-color: var(--primary-500);
        box-shadow: 0px 30px 60px rgba(0, 34, 204, 0.12), 0px 6px 15px rgba(0, 34, 204, 0.10);

        .icon-wrapper {
            transform: scale(1.2) rotate(-5deg);
        }
    }
}

.icon-wrapper {
    transition: transform 0.3s ease;

    &.active {
        transform: scale(1.2) rotate(-5deg);
    }
}

.other-project-card {
    border-color: var(--neutral-300);
    transition: all 0.3s ease;

    &:hover {
        border-color: var(--primary-500);
        box-shadow: 0px 30px 60px rgba(0, 34, 204, 0.12), 0px 6px 15px rgba(0, 34, 204, 0.10);

        .arrow-wrapper {
            transform: translateX(5px);
        }
    }
}

.arrow-wrapper {
    transition: transform 0.3s ease;
}